<div>
  <img 
  class="miniature-stream" src="https://www.leparisien.fr/resizer/74wMQIeXKLDUKuKvSzJQME_0ULg=/932x582/arc-anglerfish-eu-central-1-prod-leparisien.s3.amazonaws.com/public/KNVYKZBDTTOXNO37FEVDTD5DJU.jpg" alt="">
  <div class="info-container">
    <img class="img-profil"
    src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/OOjs_UI_icon_userAvatar.svg/2048px-OOjs_UI_icon_userAvatar.svg.png" alt="">
    <div>
    <h2>Nom stream</h2>
    <p>Nom streamer</p>
    <p>jeu</p>
    <div>Tag</div>
    </div>
  </div>
</div>